/* Grundlegendes Styling für die Vorderseite der Karte */
.card-front {
  position: relative;
  display: inline-block;
  padding: 10px;
  width: 330px;
  background-color: #323232; /* Dunkler Hintergrund der Karte */
  border: solid 1px white;
  border-radius: 1em; /* Abgerundete Ecken */
  box-shadow: 5px 5px 5px grey; /* Schatten für 3D-Effekt */
  backface-visibility: hidden; /* Verhindert das Anzeigen der Rückseite beim Drehen */
  transition: transform 0.5s ease-in-out;
  transform: rotateX(calc(calc(var(--mouse-y, 0.5) - 0.5) * -20deg))
             rotateY(calc(calc(var(--mouse-x, 0.5) - 0.5) * 20deg));
  transform-style: preserve-3d;

}

.card-container-3d{
  perspective: 800px;
}

.card-container-3d:hover .card-front{
  transition: transform 0.1s linear;
}

/* Stil für das Bild auf der Vorderseite der Karte */
.card-front img {
  width: 100%;
  height: auto; /* Automatische Höhe für eine proportionale Anpassung */
}

/* Stil für die Rückseite der Karte */
.card-back {
  display: inline-block;
  width: 350px;
  backface-visibility: hidden; /* Verhindert das Anzeigen der Vorderseite beim Drehen */
}

/* Stil für das Bild auf der Rückseite der Karte */
.card-back img {
  border-radius: 1em;
  border: solid 1px white;
  box-shadow: 5px 5px 5px grey;
  width: 100%;
  height: auto;
}

/* Styling für den oberen Bereich der Karte, der die Bild- und Bewertungsanzeige enthält */
.card-upperArena {
  border: 5px solid #323232;
  border-radius: 1em;
  background-color: #fff; /* Hintergrundfarbe für Kontrast zum dunklen Text */
  margin-bottom: 0;
}

/* Stil für den Textbereich unter dem Bild der Karte */
.card-text {
  color: #fff; /* Weißer Text für Kontrast zum dunklen Hintergrund */
  font-size: 1em;
  padding: 0;
  margin: 0;
}

/* Grundstil für die Liste der Karteneigenschaften */
.card-ul {
  margin: 0;
  padding: 0;
}

/* Stil für die Listenelemente, die die Karteneigenschaften darstellen */
.card-li {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Verteilung des Inhalts im Listenelement */
  font-size: 1em;
  font-weight: bold; /* Fettdruck für bessere Lesbarkeit */
  list-style-type: none; /* Entfernen des Standard-Listensymbols */
  padding-left: 0.5em;
}

/* Hinzufügen eines Zeigers und Hintergrundfarbe bei Hover über anklickbare Listenelemente */
.card-li.clickable {
  cursor: pointer;
}

.card-li.clickable:hover {
  background-color: #323232; /* Dunkler Hintergrund beim Hover */
  color: rgb(255, 255, 255); /* Weißer Text beim Hover */
}

/* Weitere Styling-Elemente für die Positionierung und Ausrichtung innerhalb der Listenelemente */
.card-li-span-since {
  margin-right: 8.5em;
}

.card-li-span {
  display: flex;
  align-items: center;
}

/* Styling für den Paragrafen im Textbereich der Karte */
.card-text-p {
  margin: 0;
}

/* Stil für den Button unter dem Text */
.card-text button {
  background-color: #ffffff; /* Weißer Hintergrund */
  color: #323232; /* Dunkler Text für Kontrast */
  padding: 3px 5px;
  margin: 0;
  border: none;
  border-radius: 4px; /* Leicht abgerundete Ecken */
  cursor: pointer; /* Zeiger-Cursor beim Hover */
}

/* Hover-Stil für den Button */
.card-text button:hover {
  background-color: #323232; /* Dunkler Hintergrund beim Hover */
  color: rgb(255, 255, 255); /* Weißer Text beim Hover */
}

.card-front::before, .card-front::after {
  content: "";
  position: absolute;
  top: 5px; /* Leichtes Versetzen nach oben */
  left: 5px; /* Leichtes Versetzen nach links */
  width: calc(100% - 10px); /* Etwas kleiner als das Hauptelement */
  height: calc(100% - 10px); /* Etwas kleiner als das Hauptelement */
  border-radius: 1em;
  box-shadow: 5px 5px 5px grey;
  z-index: -1;
}

.card-front::after {
  background-color: #323232; /* eine Farbe, die zur Rückseite passt */
  rotate: 0deg;/*verdrehung der hinteren karte*/
}

.card-back {
  position: relative;
  display: inline-block;
  width: 350px;
  /* ... weitere Stile ... */
}

.card-back::before, .card-back::after {
  content: "";
  position: absolute;
  top: 5px; /* leichtes Versetzen nach oben */
  left: 5px; /* leichtes Versetzen nach links */
  width: calc(100% - 10px); /* etwas kleiner als das Hauptelement */
  height: calc(100% - 10px); /* etwas kleiner als das Hauptelement */
  border-radius: 1em;
  box-shadow: 5px 5px 5px grey;
  z-index: -1;
}

.card-back::after {
  rotate: 0deg;/*verdrehung der hinteren karte*/
  background-image: url('/images/backsite/backCard.png'); /* Pfad zum Bild einfügen */
  background-size: cover; /* Deckt das gesamte Element ab */
}

.result-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #323232;
  font-size: 3em;
  font-weight: bolder;
  font-style: italic;
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: 2;
  animation: slideInAndOut 6s ease-in-out;
}
 @keyframes slideInAndOut {
  0% {
    transform: translateX(-100vw); 
    opacity: 0;
  }
  40%, 90%{
    transform: translateX(-50%); 
    opacity: 1;
  }
  100% {
    transform: translateX(-100vw); 
    opacity: 0;
  }
} 
.showProperty {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #323232;
  font-size: 3em;
  font-weight: bolder;
  font-style: italic;
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 2;
  animation: slideInAndOut 6s ease-in-out;
}
 @keyframes slideInAndOut {
  0% {
    transform: translateX(-100vw); 
    opacity: 0;
  }
  40%, 90%{
    transform: translateX(-50%); 
    opacity: 1;
  }
  100% {
    transform: translateX(-100vw); 
    opacity: 0;
  }
} 

.row::after {
  display: table;
  content: " ";
  clear: both;
}

.card-3d h1 {
  transform: translateZ(50px);
}
.card-3d p {
  transform: translateZ(25px);
}


.card-li.not-clickable {
  opacity: 0.6; /* Verringerte Opazität */
  pointer-events: none; /* Verhindert das Klicken */
}




