.game-board {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.result-text{
  position: absolute;
  top: 3em;
}
  
  .card-container {
    display: flex;
    justify-content: space-between;
    width: 80vw;
  }

 
  
  
 